﻿body {
    padding-top: 75px;
    font-family: 'Open Sans', sans-serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.a {
    color: #1febd2;
}

.div.navbar.navbar-fixed-top {
    background-color: white;
    max-height: 75px;
}

.navbar-brand {
    float: left;
    padding: 0px;
    padding-bottom: 10px;
    font-size: 18px;
    margin-right: 20px;
    line-height: 20px;
}

.navbar-fixed-top {
    background-color: white;
}

.nav-text {
    float: left;
    padding-bottom: 10px;
    font-size: 18px;
    margin-right: 20px;
    line-height: 20px;
    font-size: 12px;
    margin-top: 28px;
    margin-right: 20px;
    display: inline-block;
    /*position: relative;
    top: 10px;
    right: 95px;
    display: inline-block;
    margin-top: 19px;
    margin-right: 9px;
    float: right;
    color: #aaa;
    font-size: 13px;*/
}

/*ECEDDC*/
.chevronbackground {
    background: linear-gradient(135deg, #eee 25%, transparent 25%) -50px 0, linear-gradient(225deg, #eee 25%, transparent 25%) -50px 0, linear-gradient(315deg, #eee 25%, transparent 25%), linear-gradient(45deg, #eee 25%, transparent 25%);
    -ms-background-size: 100px 100px;
    background-size: 100px 100px;
    background-color: #1FEBD2;
    min-height: 100px;
}

.navbar-header {
    background-color: white;
}

.navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
    color: #aaaaaa;
    height: 75px;
}

.collapse.in > .nav.navbar-nav > li > a:hover, .collapse.in > .nav.navbar-nav > li > a:focus {
    height: 40px;
    color: #aaaaaa;
}

.navbar-collapse.navbar-right.collapse.in, .navbar-collapse.collapse.in {
    height: auto;
}

ul.nav.navbar-nav.navbar-right {
    height: 75px;
}

.navbar-toggle {
    background-color: white;
}

    .navbar-toggle .icon-bar {
        background-color: #1febd2;
    }

.navbar.navbar-fixed-top {
    max-height: 78px;
    border-bottom: 3px solid #1febd2;
}


.navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
    background-color: white;
}

.center-text {
    text-align: center;
}

.gnack-well {
    -ms-border-radius: 15px;
    border-radius: 15px;
    margin: auto;
    display: block;
    max-width: 575px;
    background-color: white;
    margin-top: 25px;
}

section {
    min-height: 150px;
}

/*#influencerheader {
    min-height: 450px;
}*/


#influencerpics {
    padding: 20px;
}

#influencershare {
    background-image: url(http://placehold.it/1500x300);
}

#influencercontact {
    min-height: 200px;
}
/*#companyheader {
    min-height: 550px;
}*/
#faq {
    min-height: 100px;
}

#footer {
    background-color: #252525;
}

.footer {
    min-height: 200px;
    padding-top: 75px;
}

.copy {
    min-height: 100px;
    padding-top: 50px;
    padding-bottom: 0px;
    background-color: #252525;
}

.brand-text {
    color: #1febd2;
}

.white-text {
    color: white;
}

.gray-text {
    color: #5D5E5E;
}

.input-group:focus {
    border-color: none;
}

.influencerpics span {
    font-size: 60px;
    color: #1febd2;
    padding: 20px;
    vertical-align: middle;
}

.progress-bar {
    color: black;
}

.companylist > li {
    width: 200px;
    display: inline-block;
}

.footerList {
    display: inline-block;
    list-style: none;
}

.faqlist > li {
    display: inline-block;
}

.companycontainertitle {
    margin-bottom: 40px;
    margin-top: 40px;
}

.gnackpadding {
    padding-bottom: 35px;
}

#companyheader {
    background: url(../Content/Images/header2.png) 70% 0 fixed;
    height: auto;
    max-width: 100%;
    background-repeat: no-repeat;
    -ms-background-size: cover;
    background-size: cover;
}

#influencerheader {
    background: url(../Content/Images/crowd2.png) 50% 0 fixed;
    height: auto;
    max-width: 100%;
    background-repeat: no-repeat;
    -ms-background-size: cover;
    background-size: cover;
}

@media(max-width:450px) {
    #companyheader {
        background: url(../Content/Images/header2.png)50%;
        height: auto;
        max-width: 400px;
        background-repeat: no-repeat;
        -ms-background-size:cover;
        background-size: cover;
        background-position: center top;
    }

    #influencerheader {
        background: url(../Content/Images/crowd2.png) 50%;
        height: auto;
        max-width: 400px;
        background-repeat: no-repeat;
        -ms-background-size: cover;
        background-size:cover;
        background-position: center top;
    }
}

#contact {
    background: url(../Content/Images/austin.jpg) 50% 0 fixed;
    height: auto;
    width: auto;
    max-width: 100%;
    background-repeat: no-repeat;
    -ms-background-size: auto;
    background-size: auto;
    height: 900px;
    background-color: black;
}


.jumbotron {
    font-size: 63px;
}

.darksection {
    background-color: #eee;
    background-image: url(../Content/Images/shattered_@2x.png);
}





/**Cards**/

.card-container {
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    -o-perspective: 800px;
    perspective: 800px;
    margin-bottom: 30px;
}
    /* flip the pane when hovered */
    .card-container:not(.manual-flip):hover .card,
    .card-container.hover.manual-flip .card {
        -webkit-transform: rotateY( 180deg );
        -moz-transform: rotateY( 180deg );
        -o-transform: rotateY( 180deg );
        transform: rotateY( 180deg );
    }


    .card-container.static:hover .card,
    .card-container.static.hover .card {
        -webkit-transform: none;
        -moz-transform: none;
        -o-transform: none;
        transform: none;
    }
/* flip speed goes here */
.card {
    -webkit-transition: -webkit-transform .5s;
    -moz-transition: -moz-transform .5s;
    -o-transition: -o-transform .5s;
    transition: transform .5s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    position: relative;
}

/* hide back of pane during swap */
.front, .back {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #FFF;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.14);
}

/* front pane, placed above back */
.front {
    z-index: 2;
}

/* back, initially hidden pane */
.back {
    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
    z-index: 3;
}

    .back .btn-simple {
        position: absolute;
        left: 0;
        bottom: 4px;
    }
/*        Style       */
sup {
    vertical-align: super;
    font-size: smaller;
}

.card {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 4px;
    color: #444444;
}

.card-container, .front, .back {
    width: 100%;
    height: 350px;
    border-radius: 4px;
}

.card .cover {
    height: 75px;
    overflow: hidden;
    border-radius: 4px 4px 0 0;
}

    .card .cover img {
        width: 100%;
    }

.card .user {
    border-radius: 50%;
    display: block;
    height: 120px;
    margin: -55px auto 0;
    overflow: hidden;
    width: 120px;
}

    .card .user img {
        background: none repeat scroll 0 0 #FFFFFF;
        border: 4px solid #FFFFFF;
        width: 100%;
    }

.card .content {
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
    padding: 10px 20px 20px;
}

    .card .content .main {
        min-height: 120px;
    }

.card .back .content .main {
    height: 150px;
}

.card .name {
    font-size: 22px;
    line-height: 28px;
    margin: 10px 0 0;
    text-align: center;
    text-transform: capitalize;
}

.card h5 {
    margin: 5px 0;
    font-weight: 400;
    line-height: 20px;
}

.card .profession {
    color: #999999;
    text-align: center;
    margin-bottom: 20px;
}

.card .footer {
    border-top: 1px solid #EEEEEE;
    color: #999999;
    margin: 5px 0 0;
    padding: 5px 0 0;
    text-align: center;
}

    .card .footer .social-links {
        font-size: 18px;
    }

        .card .footer .social-links a {
            margin: 0 7px;
        }

    .card .footer .btn-simple {
        margin-top: -6px;
    }

.card .header {
    padding: 15px 20px;
    height: 90px;
}

.card .motto {
    border-bottom: 1px solid #EEEEEE;
    color: #999999;
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 10px;
    text-align: center;
}

.title {
    color: #506A85;
    text-align: center;
    font-weight: 300;
    font-size: 44px;
    margin-bottom: 90px;
    line-height: 90%;
}

    .title small {
        font-size: 17px;
        color: #999;
        text-transform: uppercase;
        margin: 0;
    }

.space-50 {
    height: 50px;
    display: block;
}

.space-200 {
    height: 200px;
    display: block;
}

.white-board {
    background-color: #FFFFFF;
    min-height: 200px;
    padding: 60px 60px 20px;
}

.ct-heart {
    color: #F74933;
}

pre.prettyprint {
    background-color: #ffffff;
    border: 1px solid #999;
    margin-top: 20px;
    padding: 20px;
    text-align: left;
}

.atv, .str {
    color: #05AE0E;
}

.tag, .pln, .kwd {
    color: #3472F7;
}

.atn {
    color: #2C93FF;
}

.pln {
    color: #333;
}

.com {
    color: #999;
}

.btn-simple {
    opacity: .8;
    color: #666666;
    background-color: transparent;
}

    .btn-simple:hover,
    .btn-simple:focus {
        background-color: transparent;
        box-shadow: none;
        opacity: 1;
    }

    .btn-simple i {
        font-size: 16px;
    }

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .front, .back {
        -ms-backface-visibility: visible;
        backface-visibility: visible;
    }

    .back {
        visibility: hidden;
        -ms-transition: all 0.2s cubic-bezier(.92,.01,.83,.67);
    }

    .front {
        z-index: 4;
    }

    .card-container:hover .back {
        z-index: 5;
        visibility: visible;
    }
}



/*process steps*/
.bs-wizard {
    margin-top: 40px;
}

/*Form Wizard*/
.bs-wizard {
    border-bottom: solid 1px #e0e0e0;
    padding: 0 0 10px 0;
}

    .bs-wizard > .bs-wizard-step {
        padding: 0;
        position: relative;
    }

        .bs-wizard > .bs-wizard-step + .bs-wizard-step {
        }

        .bs-wizard > .bs-wizard-step .bs-wizard-stepnum {
            color: #595959;
            font-size: 16px;
            margin-bottom: 5px;
        }

        .bs-wizard > .bs-wizard-step .bs-wizard-info {
            color: #999;
            font-size: 14px;
        }

        .bs-wizard > .bs-wizard-step > .bs-wizard-dot {
            position: absolute;
            width: 30px;
            height: 30px;
            display: block;
            background: #1febd2;
            top: 45px;
            left: 50%;
            margin-top: -15px;
            margin-left: -15px;
            border-radius: 50%;
        }

            .bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {
                content: ' ';
                width: 14px;
                height: 14px;
                background: #12c5af;
                border-radius: 50px;
                position: absolute;
                top: 8px;
                left: 8px;
            }

        .bs-wizard > .bs-wizard-step > .progress {
            position: relative;
            border-radius: 0px;
            height: 8px;
            box-shadow: none;
            margin: 20px 0;
        }

            .bs-wizard > .bs-wizard-step > .progress > .progress-bar {
                width: 0px;
                box-shadow: none;
                background: #1febd2;
            }

        .bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {
            width: 100%;
        }

        .bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {
            width: 50%;
        }

        .bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {
            width: 0%;
        }

        .bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {
            width: 100%;
        }

        .bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {
            background-color: #f5f5f5;
        }

            .bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {
                opacity: 0;
            }

        .bs-wizard > .bs-wizard-step:first-child > .progress {
            left: 50%;
            width: 50%;
        }

        .bs-wizard > .bs-wizard-step:last-child > .progress {
            width: 50%;
        }

        .bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot {
            pointer-events: none;
        }
