﻿@{
    Layout = "~/Views/Shared/_LayoutBrands.cshtml";
}
<section id="companyheader">
    <div class="jumbotron" style="background-color: transparent; color:#444;">
        <div class="container">
            <div class="row center-text">
                <div class="col-sm-12 col-md-12">
                    <h1 class="brand-text" style="color:white;text-shadow: 1px 1px 1px #000;">Connect with your brand champions in your target market</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <div class="well gnack-well">
                        <div class="row">
                            <p class="center-text gray-text"><strong>Interested?</strong><i> Find out how it works</i></p>
                        </div>
                        @*<div class="row">
                                <p class="center-text gray-text"></p>
                            </div>*@
                        <div class="row center-text">
                            <a href="@Url.Action("Contact", "Home")" class="btn btn-primary btn-lg" type="button">Contact Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="companytactic">
    <div class="container gnackpadding">
        <div class="row text-center">
            <h1 class="companycontainertitle">Our <strong class="brand-text">technology</strong> and <strong class="brand-text">native marketing</strong> tactics help advertisers cut through noise on social media</h1>
            <ul class="companylist">
                <li>
                    <i class="fa fa-bar-chart fa-3x"></i>
                    <p><br />Patent pending analytics that track your campaign performance and show your social ROI</p>
                </li>
                <li>
                    <i class="fa fa-users fa-3x"></i>
                    <p><br />Frame your brand's message displayed as trusted, user-generated content<br /><br /></p>
                </li>
                <li>
                    <i class="fa fa-plug fa-3x"></i>
                    <p><br />Plug into hyper-niche communities by finding your brand champions<br /><br /></p>
                </li>
                <li>
                    <i class="fa fa-pencil fa-3x"></i>
                    <p><br />Maintain full creative control of your campaign along the way<br /><br /></p>
                </li>
                <li>
                    <i class="fa fa-street-view fa-3x"></i>
                    <p><br />Dedicated account manager to ensure the success of your campaign<br /><br /></p>
                </li>
            </ul>
        </div>
    </div>
</section>
<section id="companygraphs" class="darksection">
    <div class="container gnackpadding">
        <div class="row text-center">
            <h1 class="companycontainertitle">Market with your audience, not to them.</h1>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-lg-12">
                <p style="font-size:20px" class="text-center">
                    Social marketing platforms are getting noisy and consumers aren’t paying attention to your brand’s message.
                </p>
            </div>
        </div>
        <div class="row text-center">
            <i class="fa fa-line-chart fa-5x"></i>
        </div>
        <br />
        <div clas="row">
            <div class="col-md-12 col-sm-12">
                <p class="center-text" style="font-size: 20px;">Gnack is a robust, self- serve advertising platform where brands can easily connect with their social media brand champions to collaborate on user generated, native marketing campaigns on Instagram. Find the right people, manage your ad campaign costs, automate content approval, and scale your campaign with our micro communities.</p>
            </div>
            @*<div class="col-md-6 col-sm-6">
                    <p class="center-text" style="font-size:16px">
                        Gnack is a robust, self- serve advertising platform where companies can easily connect with their social media brand champions to collaborate on user generated, native marketing campaigns on Instagram.
                    </p>
                </div>
                <div class="col-md-6 col-sm-6">
                          <p class="center-text" style="font-size:16px">
                              Our platform allows advertisers to target the right Instagram users and engages your message in context with your brand champions. Find the right people, manage your ad campaign costs, automate content approval, and scale your campaign with our micro communities.
                          </p>
                      </div>*@
        </div>
    </div>
</section>
<section id="company">
    <div class="container gnackpadding">
        <h1 class="text-center companycontainertitle">
            <p style="margin-bottom:10px;">
                Meet the Team behind
            </p>
            <svg width="175px" height="175px" viewBox="0 0 360 360" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;">
            <path d="M112.739,198.344c8.768,-32.814 10.873,-54.951 11.584,-57.261c1.161,-3.772 9.853,-10.645 15.642,-10.717c16.176,-0.203 3.46,32.147 1.452,50.748c-0.564,5.225 5.233,13.295 12.295,12.334c13.345,-1.821 16.429,-13.266 14.409,-16.3c-1.245,-1.867 -8.849,5.848 -10.034,-2.303c-1.619,-11.119 19.005,-48.12 2.096,-56.656c-21.477,-10.841 -35.73,12.227 -35.693,11.163c0.156,-4.439 0.107,-5.325 -0.623,-5.673c-4.778,-2.275 -16.224,0.117 -17.287,2.425c0,0 0.348,2.158 0.263,4.896c-0.397,12.687 -2.201,20.977 -3.447,25.903c-4.75,18.752 -13.428,23.839 -22.946,22.987c-20.356,-1.822 -21.747,-29.084 -17.795,-42.653c11.188,-38.413 37.201,-43.265 44.487,-40.998c11.083,3.451 7.219,11.786 -0.667,13.302c-5.066,0.973 3.742,7.512 15.216,5.217c10.918,-2.183 11.12,-15.325 5.56,-21.533c-6.708,-7.487 -21.716,-11.239 -39.704,-5.936c-30.201,8.906 -51.326,37.811 -50.975,66.936c0.403,33.764 37.03,49.693 61.091,31.295c0,0 -0.638,3.582 -3.16,11.719c-68.95,-1.152 -97.559,36.242 -89.976,61.415c10.404,34.539 85.221,14.457 104.182,-45.918c34.269,8.177 38.712,32.381 54.432,36.516c17.287,4.55 20.773,-10.871 15.467,-20.319c-12.433,-22.141 -53.225,-29.217 -65.869,-30.589ZM22.422,235.301c22.138,-23.961 49.876,-26.638 69.298,-26.185c-2.857,8.392 -22.594,43.773 -48.775,51.454c-25.41,7.46 -30.168,-14.831 -20.523,-25.269Z" style="fill:#1FEBD2;fill-rule:nonzero;" />
            <path d="M237.413,176.577c-1.574,0.528 -3.861,1.518 -5.476,1.318c-1.619,-0.202 -0.607,-6.876 1.008,-17.591c1.619,-10.717 6.268,-30.732 6.268,-30.732c0,0 0.403,-4.247 -3.436,-5.054c-3.84,-0.81 -11.486,-3.237 -12.905,-3.034c-1.415,0.202 -1.467,5.171 -1.566,5.844c-0.81,-2.935 -6.676,-12.759 -19.743,-11.735c-7.697,0.603 -22.452,7.72 -28.923,25.311c-5.747,15.631 -7.479,43.876 17.275,52.176c7.339,2.462 18.344,-3.172 23.353,-10.804c0.958,4.55 2.812,10.8 8.746,10.867c7.621,0.083 12.737,-4.36 15.082,-7.872c2.294,-3.435 2.773,-9.517 0.317,-8.694ZM212.357,174.159c-1.87,8.796 -31.209,10.199 -20.976,-28.33c3.789,-14.272 11.939,-18.668 16.537,-19.713c8.028,-1.82 11.027,7.103 11.315,11.046c-2.11,10.339 -5.941,32.61 -6.876,36.997Z" style="fill:#1FEBD2;fill-rule:nonzero;" />
            <path d="M261.564,145.829c4.011,-14.319 11.544,-18.382 16.538,-19.713c11.019,-2.931 17.495,10.664 4.961,12.159c-2.787,0.332 5.423,6.838 11.976,5.252c8.058,-1.946 6.838,-9.619 3.944,-16.345c-2.022,-5.496 -12.211,-14.315 -27.241,-11.589c-8.354,1.514 -20.788,6.798 -28.249,24.258c-6.629,15.514 -8.734,48.064 18.009,53.173c6.157,1.175 33.953,2.944 32.289,-18.739c-0.299,-3.937 -4.573,-7.835 -6.017,-3.141c-4.647,15.121 -36.978,13.128 -26.21,-25.315Z" style="fill:#1FEBD2;fill-rule:nonzero;" />
            <path d="M355.071,119.302c0.362,-2.563 -11.744,-3.796 -14.576,-3.796c-2.827,0 1.468,19.511 -17.487,22.794c2.144,-22.349 2.448,-22.353 4.295,-45.359c0,0 1.092,-4.753 -3.091,-5.979c-4.04,-1.185 -20.612,-5.17 -18.826,0.446c2.23,7.031 1.894,11.373 1.825,14.586c-0.605,27.681 -3.952,56.477 -7.19,76.469c-1.421,8.763 -2.186,11.76 -1.16,13.411c1.759,2.833 10.312,1.578 15.771,1.578c1.364,0 5.846,-36.526 7.358,-45.182c1.946,-2.793 14.28,-5.673 15.693,2.337c0.121,9.666 -8.239,62.197 -7.309,69.825c1.391,4.438 4.737,9.404 10.651,8.904c7.593,-0.642 12.262,-5.552 14.261,-9.271c1.957,-3.636 1.854,-9.737 -0.51,-8.686c-1.516,0.678 -3.702,1.88 -5.329,1.832c-1.631,-0.045 -1.839,-6.833 -0.669,-17.607c1.407,-12.947 6.34,-45.53 6.34,-45.53c0.284,-2.507 -1.008,-6.039 -2.96,-7.775c-6.321,-5.624 -10.022,-3.606 -11.692,-3.514c3.883,-0.814 13.337,-10.439 14.605,-19.483Z" style="fill:#1FEBD2;fill-rule:nonzero;" />
                </svg>
        </h1>
        @*<div class="row">
                <div class="col-sm-12">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p><br>
                </div>
            </div>*@
        <div class="col-md-3 col-sm-6">
            <div class="card-container manual-flip">
                <div class="card">
                    <div class="front">
                        <div class="cover" style="background-color: #f5f5f5">
                        </div>
                        <div class="user">
                            <img class="img-circle" src="~/Content/Images/chrisg.jpg" />
                        </div>
                        <div class="content">
                            <div class="main">
                                <h3 class="name">Chris Gonzalez</h3>
                                <p class="profession">CEO | CoFounder</p>
                                <h5 class="text-center"><i class="fa fa-linkedin fa-fw text-muted"></i><a href="https://www.linkedin.com/pub/chris-gonzalez/6b/37/b39">Connect With Me</a></h5>
                            </div>
                            <div class="footer">
                                <button class="btn btn-simple" onclick="rotateCard(this)">
                                    <i class="fa fa-mail-forward"></i> About Chris
                                </button>
                            </div>
                        </div>
                    </div> <!-- end front panel -->
                    <div class="back">
                        <div class="header">
                        </div>
                        <div class="content">
                            <div class="main">
                                <p>Chris brings five years of experience in technology commercialization, business operations, and development. He is committed to success of organizational goals and pushing the limits of human potential.</p>
                            </div>
                        </div>
                        <div class="footer">
                            <button class="btn btn-simple" onclick="rotateCard(this)">
                                <i class="fa fa-mail-reply"></i> Back
                            </button>

                        </div>
                    </div> <!-- end back panel -->
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="card-container  manual-flip">
                <div class="card">
                    <div class="front">
                        <div class="cover" style="background-color: #f5f5f5">
                        </div>
                        <div class="user">
                            <img class="img-circle" src="~/Content/Images/dean.png" />
                        </div>
                        <div class="content">
                            <div class="main">
                                <h3 class="name">Dean Thomas</h3>
                                <p class="profession">CMO | CoFounder</p>
                                <h5 class="text-center"><i class="fa fa-linkedin fa-fw text-muted"></i><a href="https://www.linkedin.com/pub/dean-thomas/b5/99a/247">Connect With Me</a></h5>
                            </div>
                            <div class="footer">
                                <button class="btn btn-simple" onclick="rotateCard(this)">
                                    <i class="fa fa-mail-forward"></i> About Dean
                                </button>
                            </div>
                        </div>
                    </div> <!-- end front panel -->
                    <div class="back">
                        <div class="header">
                        </div>
                        <div class="content">
                            <div class="main">
                                <p>Dean brings years of marketing strategy, social influencer, and social media advertising experience. He is committed to success in innovating the way businesses build relationships with their customers.</p>
                            </div>
                        </div>
                        <div class="footer">
                            <button class="btn btn-simple" onclick="rotateCard(this)">
                                <i class="fa fa-mail-reply"></i> Back
                            </button>
                        </div>
                    </div> <!-- end back panel -->
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="card-container  manual-flip">
                <div class="card">
                    <div class="front">
                        <div class="cover" style="background-color: #f5f5f5">
                        </div>
                        <div class="user">
                            <img class="img-circle" src="~/Content/Images/chico.png" />
                        </div>
                        <div class="content">
                            <div class="main">
                                <h3 class="name">Chico Tirado</h3>
                                <p class="profession">CBDO | CoFounder</p>
                                <h5 class="text-center"><i class="fa fa-linkedin fa-fw text-muted"></i><a href="https://www.linkedin.com/pub/chico-tirado/b5/181/a68">Connect With Me</a></h5>
                            </div>
                            <div class="footer">
                                <button class="btn btn-simple" onclick="rotateCard(this)">
                                    <i class="fa fa-mail-forward"></i> About Chico
                                </button>
                            </div>
                        </div>
                    </div> <!-- end front panel -->
                    <div class="back">
                        <div class="header">
                        </div>
                        <div class="content">
                            <div class="main">
                                <p>Chico brings five years of experience in sales, marketing, and social media strategy. He is committed to success in changing the way businesses create real, trustworthy relationships with people.</p>
                            </div>
                        </div>
                        <div class="footer">
                            <button class="btn btn-simple" onclick="rotateCard(this)">
                                <i class="fa fa-mail-reply"></i> Back
                            </button>
                        </div>
                    </div> <!-- end back panel -->
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="card-container  manual-flip">
                <div class="card">
                    <div class="front">
                        <div class="cover" style="background-color: #f5f5f5">

                        </div>
                        <div class="user">
                            <img class="img-circle" src="~/Content/Images/dom.jpg" />
                        </div>
                        <div class="content">
                            <div class="main">
                                <h3 class="name">Dominique Pianelli</h3>
                                <p class="profession">CTO | CoFounder</p>
                                <h5 class="text-center"><i class="fa fa-linkedin fa-fw text-muted"></i><a href="https://www.linkedin.com/in/dominiquepianelli">Connect With Me</a></h5>
                            </div>
                            <div class="footer">
                                <button class="btn btn-simple" onclick="rotateCard(this)">
                                    <i class="fa fa-mail-forward"></i> About Dominique
                                </button>
                            </div>
                        </div>
                    </div> <!-- end front panel -->
                    <div class="back">
                        <div class="header">
                        </div>
                        <div class="content">
                            <div class="main">
                                <p>Dominique brings years of experience in software development, design, and venture management. She is committed to the success of pushing the limits of technology and solving challenging business problems.</p>
                            </div>
                        </div>
                        <div class="footer">
                            <button class="btn btn-simple" onclick="rotateCard(this)">
                                <i class="fa fa-mail-reply"></i> Back
                            </button>
                        </div>
                    </div> <!-- end back panel -->
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="card-container manual-flip">
                <div class="card">
                    <div class="front">
                        <div class="cover" style="background-color: #f5f5f5">
                        </div>
                        <div class="user">
                            <img class="img-circle" src="~/Content/Images/taye.jpg" />
                        </div>
                        <div class="content">
                            <div class="main">
                                <h3 class="name">Taye Marshall</h3>
                                <p class="profession">Copywriter</p>
                                <h5 class="text-center"><i class="fa fa-linkedin fa-fw text-muted"></i><a href="https://www.linkedin.com/pub/taye-marshall/50/48a/176">Connect With Me</a></h5>
                            </div>
                            <div class="footer">
                                <button class="btn btn-simple" onclick="rotateCard(this)">
                                    <i class="fa fa-mail-forward"></i> About Taye
                                </button>
                            </div>
                        </div>
                    </div> <!-- end front panel -->
                    <div class="back">
                        <div class="header">
                        </div>
                        <div class="content">
                            <div class="main">
                                <p>Award winning writer, copywriting experience from Paypal to Startups. He is committed to success in the art of written communications and elegant word choice.</p>
                            </div>
                        </div>
                        <div class="footer">
                            <button class="btn btn-simple" onclick="rotateCard(this)">
                                <i class="fa fa-mail-reply"></i> Back
                            </button>

                        </div>
                    </div> <!-- end back panel -->
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="card-container manual-flip">
                <div class="card">
                    <div class="front">
                        <div class="cover" style="background-color: #f5f5f5">
                        </div>
                        <div class="user">
                            <img class="img-circle" src="~/Content/Images/ricky.jpg" />
                        </div>
                        <div class="content">
                            <div class="main">
                                <h3 class="name">Ricky Fullen</h3>
                                <p class="profession">Art Director</p>
                                <h5 class="text-center"><i class="fa fa-linkedin fa-fw text-muted"></i><a href="https://www.linkedin.com/pub/ricky-fullen/46/4ba/866">Connect With Me</a></h5>
                            </div>
                            <div class="footer">
                                <button class="btn btn-simple" onclick="rotateCard(this)">
                                    <i class="fa fa-mail-forward"></i> About Ricky
                                </button>
                            </div>
                        </div>
                    </div> <!-- end front panel -->
                    <div class="back">
                        <div class="header">
                        </div>
                        <div class="content">
                            <div class="main">
                                <p>Years of illustration experience and screen printing has lead Ricky to develop his own artistic style. Inspired by his local city and its people, he is committed to success in pushing the limits of design and artistic mediums.</p>
                            </div>
                        </div>
                        <div class="footer">
                            <button class="btn btn-simple" onclick="rotateCard(this)">
                                <i class="fa fa-mail-reply"></i> Back
                            </button>

                        </div>
                    </div> <!-- end back panel -->
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="card-container manual-flip">
                <div class="card">
                    <div class="front">
                        <div class="cover" style="background-color: #f5f5f5">
                        </div>
                        <div class="user">
                            <img class="img-circle" src="~/Content/Images/josephlamas.jpg" />
                        </div>
                        <div class="content">
                            <div class="main">
                                <h3 class="name">Joseph Lamas</h3>
                                <p class="profession">Lead Data Scientist | Advisor</p>
                                <h5 class="text-center" style="color:transparent">Test</h5>

                            </div>
                            <div class="footer">
                                <button class="btn btn-simple" onclick="rotateCard(this)">
                                    <i class="fa fa-mail-forward"></i> About Joseph
                                </button>
                            </div>
                        </div>
                    </div> <!-- end front panel -->
                    <div class="back">
                        <div class="header">
                        </div>
                        <div class="content">
                            <div class="main">
                                <p>Published researcher currently working at Duke University, Joseph brings years of experience in chemistry, and biology. He is committed to success in applied mathematics and data science.</p>
                            </div>
                        </div>
                        <div class="footer">
                            <button class="btn btn-simple" onclick="rotateCard(this)">
                                <i class="fa fa-mail-reply"></i> Back
                            </button>

                        </div>
                    </div> <!-- end back panel -->
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="card-container manual-flip">
                <div class="card">
                    <div class="front">
                        <div class="cover" style="background-color: #f5f5f5">
                        </div>
                        <div class="user">
                            <img class="img-circle" src="~/Content/Images/krisross.jpg" />
                        </div>
                        <div class="content">
                            <div class="main">
                                <h3 class="name">Kris Ross</h3>
                                <p class="profession">Production Artist</p>
                                <h5 class="text-center"><i class="fa fa-linkedin fa-fw text-muted"></i><a href="https://www.linkedin.com/in/krisrossdesign">Connect With Me</a></h5>
                            </div>
                            <div class="footer">
                                <button class="btn btn-simple" onclick="rotateCard(this)">
                                    <i class="fa fa-mail-forward"></i> About Kris
                                </button>
                            </div>
                        </div>
                    </div> <!-- end front panel -->
                    <div class="back">
                        <div class="header">
                        </div>
                        <div class="content">
                            <div class="main">
                                <p>Combining music into his passion for art has led Kris to find his calling into applied technical design. Flexing huge creative potential in software-human interactions, he is committed to success in seeing beyond perceived design limitations and injecting creativity wherever possible.</p>
                            </div>
                        </div>
                        <div class="footer">
                            <button class="btn btn-simple" onclick="rotateCard(this)">
                                <i class="fa fa-mail-reply"></i> Back
                            </button>

                        </div>
                    </div> <!-- end back panel -->
                </div>
            </div>
        </div>
        @*<div class="col-md-3 col-sm-6">
                <div class="card-container manual-flip">
                    <div class="card">
                        <div class="front">
                            <div class="cover" style="background-color: #f5f5f5">
                            </div>
                            <div class="user">
                                <img class="img-circle" src="~/Content/Images/krisross.jpg" />
                            </div>
                            <div class="content">
                                <div class="main">
                                    <h3 class="name">Kyle McElyea</h3>
                                    <p class="profession">Sr. Software Engineer</p>
                                </div>
                                <div class="footer">
                                    <button class="btn btn-simple" onclick="rotateCard(this)">
                                        <i class="fa fa-mail-forward"></i> About Kyle
                                    </button>
                                </div>
                            </div>
                        </div> <!-- end front panel -->
                        <div class="back">
                            <div class="header">
                            </div>
                            <div class="content">
                                <div class="main">
                                    <p></p>
                                </div>
                            </div>
                            <div class="footer">
                                <button class="btn btn-simple" onclick="rotateCard(this)">
                                    <i class="fa fa-mail-reply"></i> Back
                                </button>

                            </div>
                        </div> <!-- end back panel -->
                    </div>
                </div>
            </div>*@

    </div>
</section>
@*<section id="companygraphs" class="darksection">
        <div class="container gnackpadding">
            <div class="row text-center">
                <h1 class="companycontainertitle">Better Reach With Micro-Influencers</h1>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-lg-12">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi efficitur, mauris et aliquet tempus, diam lectus vestibulum ex, non facilisis magna augue in nibh. Donec quis tortor ipsum. Nam congue consequat risus, ut accumsan dui molestie eget. Etiam nec tortor quis est placerat luctus. Phasellus sit amet velit ut libero pretium tristique. Nunc diam velit, cursus a nisi vel, lobortis iaculis dui. Nulla facilisi.
                    </p>
                </div>
                @*<div class="col-md-6 col-sm-6 col-lg-6">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
                                <span>60% Users X</span>
                            </div>
                        </div>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 40%;">
                                <span>60% Users Y</span>
                            </div>
                        </div>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">
                                <span>60% Users Z</span>
                            </div>
                        </div>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
                                <span>60% Users A</span>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </section>*@
@section scripts{
    <script type="text/javascript">
        $().ready(function () {
            $('[rel="tooltip"]').tooltip();

        });

        function rotateCard(btn) {
            var $card = $(btn).closest('.card-container');
            console.log($card);
            if ($card.hasClass('hover')) {
                $card.removeClass('hover');
            } else {
                $card.addClass('hover');
            }
        }

    </script>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-66865777-1', 'auto');
        ga('send', 'pageview');

    </script>
}