﻿@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_LayoutBrands.cshtml";
}

<section id="contact">
    <div class="container center-text">
        <h1 class="white-text companycontainertitle" style="color:white;text-shadow: 1px 1px 1px #000;">We'd Love to hear from you</h1>
        <h3 class="white-text" style="color:white;text-shadow: 1px 1px 1px #000;">Lets get an introduction</h3>
        <div class="well gnack-well">
            <form method="post" action="@Url.Action("SendCompany")" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="inputEmail" class="pull-left">Email address</label>
                    <input type="email" class="form-control" id="inputEmail" placeholder="Email" name="from">
                </div>
                <div class="form-group">
                    <label for="nameInput" class="pull-left">Name</label>
                    <input type="text" class="form-control" id="nameInput" placeholder="Name" name="contactname">
                </div>
                <div class="form-group">
                    <label for="companyInput" class="pull-left">Company</label>
                    <input type="text" class="form-control" id="companyInput" placeholder="Company" name="company">
                </div>
                <div class="form-group">
                    <label for="messageInput" class="pull-left">Message</label>
                    <textarea type="text" class="form-control" rows="4" placeholder="Message" name="message"></textarea>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" id="terms"> Terms & Conditions
                    </label>
                </div>
                <input type="submit" class="btn btn-primary" disabled />
            </form>
            <br />
            <address class="gray-text">
                San Marcos, Tx. 78666<br />
                <a class="text-muted" href="tel:+5127106706">P: 512.710.6706</a>
            </address>
            <address class="gray-text">
                <strong>E:</strong><a href="mailto:hello@gnackapp.com">hello@gnackapp.com</a><br />
            </address>
        </div>
    </div>
</section>
@section scripts{
    <script>
        var checkboxes = $("input[type='checkbox']"),
    submitButt = $("input[type='submit']");

        checkboxes.click(function () {
            submitButt.attr("disabled", !checkboxes.is(":checked"));
        });
    </script>
}