﻿@{
    ViewBag.Title = "FAQ";
    Layout = "~/Views/Shared/_LayoutBrands.cshtml";

}

<section id="faq">
    <div class="jumbotron">
        <div class="container">
            <h2>Frequently Asked Questions</h2>
        </div>
    </div>
</section>
<section id="influencerquestions">
    <div class="container">
        <h3 class="companycontainertitle text-center">Top Influencer Questions</h3>
        <ul class="faqlist">
            <li>
                <h4>
                    LOREM IPSUM TITLE
                </h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi efficitur, mauris et aliquet tempus, diam lectus vestibulum ex, non facilisis magna augue in nibh. Donec quis tortor ipsum. Nam congue consequat risus, ut accumsan dui molestie eget. Etiam nec tortor quis est placerat luctus. Phasellus sit amet velit ut libero pretium tristique. Nunc diam velit, cursus a nisi vel, lobortis iaculis dui. Nulla facilisi.
                </p>
            </li>
            <li>
                <h4>
                    LOREM IPSUM TITLE
                </h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi efficitur, mauris et aliquet tempus, diam lectus vestibulum ex, non facilisis magna augue in nibh. Donec quis tortor ipsum. Nam congue consequat risus, ut accumsan dui molestie eget. Etiam nec tortor quis est placerat luctus. Phasellus sit amet velit ut libero pretium tristique. Nunc diam velit, cursus a nisi vel, lobortis iaculis dui. Nulla facilisi.
                </p>
            </li>
            <li>
                <h4>
                    LOREM IPSUM TITLE
                </h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi efficitur, mauris et aliquet tempus, diam lectus vestibulum ex, non facilisis magna augue in nibh. Donec quis tortor ipsum. Nam congue consequat risus, ut accumsan dui molestie eget. Etiam nec tortor quis est placerat luctus. Phasellus sit amet velit ut libero pretium tristique. Nunc diam velit, cursus a nisi vel, lobortis iaculis dui. Nulla facilisi.
                </p>
            </li>
        </ul>
    </div>
</section>
<section id="brandquestions" class="darksection">
    <div class="container ">
        <h3 class="companycontainertitle text-center">Top Brand Questions</h3>
        <ul class="faqlist">
            <li>
                <h4>
                    LOREM IPSUM TITLE
                </h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi efficitur, mauris et aliquet tempus, diam lectus vestibulum ex, non facilisis magna augue in nibh. Donec quis tortor ipsum. Nam congue consequat risus, ut accumsan dui molestie eget. Etiam nec tortor quis est placerat luctus. Phasellus sit amet velit ut libero pretium tristique. Nunc diam velit, cursus a nisi vel, lobortis iaculis dui. Nulla facilisi.
                </p>
            </li><li>
                <h4>
                    LOREM IPSUM TITLE
                </h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi efficitur, mauris et aliquet tempus, diam lectus vestibulum ex, non facilisis magna augue in nibh. Donec quis tortor ipsum. Nam congue consequat risus, ut accumsan dui molestie eget. Etiam nec tortor quis est placerat luctus. Phasellus sit amet velit ut libero pretium tristique. Nunc diam velit, cursus a nisi vel, lobortis iaculis dui. Nulla facilisi.
                </p>
            </li><li>
                <h4>
                    LOREM IPSUM TITLE
                </h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi efficitur, mauris et aliquet tempus, diam lectus vestibulum ex, non facilisis magna augue in nibh. Donec quis tortor ipsum. Nam congue consequat risus, ut accumsan dui molestie eget. Etiam nec tortor quis est placerat luctus. Phasellus sit amet velit ut libero pretium tristique. Nunc diam velit, cursus a nisi vel, lobortis iaculis dui. Nulla facilisi.
                </p>
            </li>
        </ul>
    </div>
</section>