﻿@{
    ViewBag.Title = "Home Page";

}

<section id="influencerheader" style="margin-bottom: 0px;padding-bottom: 0px;min-height:550px;">
    <div class="jumbotron" style="background-color: transparent; color:#fff;">
        <div class="container gnackpadding">
            <div class="row center-text">
                <div class="col-sm-12 col-md-12">
                    <h1 class="white-text" style="text-shadow: 1px 1px 1px #000;">Get paid for talking about the brands you already love</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <div class="well gnack-well">
                        <div class="row">
                            <p class="center-text gray-text">Interested?</p>
                        </div>
                        <div class="row">
                            <p class="center-text gray-text"><i>Gain access to Gnack’s exclusive first release!</i></p>
                        </div>
                        <div class="row text-center">
                            <form method="post" class="form-inline" action="@Url.Action("SendInfluencer")" enctype="multipart/form-data">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="exampleInputName2" placeholder="Name" name="name">
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Email" name="email">
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-default btn-primary">Find my Gnack</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="influencerAbout">
    <div class="container gnackpadding">
        <div class="row">
            <div class="col-md-12 center-text">
                <h1 class="companycontainertitle"><strong><span style="font-size: 45px">#winning</span></strong></h1>
            </div>
            <div class="col-md-12 center-text" style="font-size:20px">
                <p>Whether you have a few hundred followers or over a million, you'll get cash to post about your favorite brands on Instagram. Gnack gives everyday Instagram users the ability to <span class="brand-text">earn</span> cash, <span class="brand-text">early</span> release products, and <span class="brand-text">exclusive</span> event access. In exchange, you simply upload a photo of that product, service, or event to your Instagram.</p><br>
            </div>
        </div>
    </div>
</section>
<section id="influencerentrepreneur" class="darksection" style="margin-top: 0px;">
    <div class="container gnackpadding">
        <div class="row text-center companycontainertitle">
            <h2>It's Simple.</h2>
            <hr />
            <div class="row bs-wizard" style="border-bottom:0;">
                <div class="col-xs-3 bs-wizard-step active">
                    <div class="text-center bs-wizard-stepnum"> Step 1</div>
                    <div class="progress"><div class="progress-bar"></div></div>
                    <a href="" class="bs-wizard-dot"></a>
                    <div class="bs-wizard-info text-center">Log Into Gnack</div>
                </div>
                <div class="col-xs-3 bs-wizard-step disabled">
                    <!-- complete -->
                    <div class="text-center bs-wizard-stepnum">Step 2</div>
                    <div class="progress"><div class="progress-bar"></div></div>
                    <a href="" class="bs-wizard-dot"></a>
                    <div class="bs-wizard-info text-center">Find Your Brands</div>
                </div>
                <div class="col-xs-3 bs-wizard-step disabled">
                    <!-- complete -->
                    <div class="text-center bs-wizard-stepnum">Step 3</div>
                    <div class="progress"><div class="progress-bar"></div></div>
                    <a href="" class="bs-wizard-dot"></a>
                    <div class="bs-wizard-info text-center">Share Your Experience</div>
                </div>
                <div class="col-xs-3 bs-wizard-step disabled">
                    <!-- active -->
                    <div class="text-center bs-wizard-stepnum">Step 4</div>
                    <div class="progress"><div class="progress-bar"></div></div>
                    <a href="" class="bs-wizard-dot"></a>
                    <div class="bs-wizard-info text-center">Get Paid!</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1 col-sm-1"></div>
            <div class="col-md-10 col-sm-10  center-text">
                <p style="font-size: 16px;">
                    Gnack is a mobile application that connects you to your favorite brands on your mobile device. All you have to do is select a brand you love from our list, take a photo endorsing the brand, post it, sit back and get paid. Available on iOS and Android early 2016.
                </p>
            </div>
            <div class="col-md-1 col-sm-1"></div>
        </div>
    </div>
</section>
<section id="influencercontact">
    <div class="container gnackpadding">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <h2 class="companycontainertitle text-center">Get Access Before Anyone Else</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 text-center">
                <form class="form-inline">
                    <div class="form-group">
                        <label for="exampleInputName2">Name</label>
                        <input type="text" class="form-control" id="exampleInputName2" placeholder="Jane Doe">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail2">Email</label>
                        <input type="email" class="form-control" id="exampleInputEmail2" placeholder="jane.doe@example.com">
                    </div>
                    <button type="submit" class="btn btn-default btn-primary">Find my Gnack</button>
                </form>
            </div>
        </div>
    </div>
</section>
@*<section id="influencerpics">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-4 col-sm-4">
                    <img class="img-rounded" src="http://placehold.it/250x250" />
                    <p>Like taking pictures?</p>
                </div><div class="col-md-4 col-sm-4">
                    <img class="img-rounded" src="http://placehold.it/250x250" />
                    <p>Have a dedicated following?</p>
                </div><div class="col-md-4 col-sm-4">
                    <img class="img-rounded" src="http://placehold.it/250x250" />
                    <p>Are you a trendsetter?</p>

                </div>
                <div class="col-lg-5">
                        <div class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object dp img-circle" src="http://www.huffmancode.com/img/hardik.jpg" style="width: 100px;height:100px;">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading">Hardik Sondagar <small> India</small></h4>
                                <h5>Software Developer at <a href="http://gridle.in">Gridle.in</a></h5>
                                <hr style="margin:8px auto">

                                <span class="label label-default">HTML5/CSS3</span>
                                <span class="label label-default">jQuery</span>
                                <span class="label label-info">CakePHP</span>
                                <span class="label label-default">Android</span>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </section>
    <section id="influencershare">
        <div class="container">
            <h2 class="companycontainertitle text-center">
                Share your ideas creatively on the best platform
            </h2>
            <div class="row">
                <div class="col-md-6">
                    <img src="http://placehold.it/200x200" />
                </div>
                <div class="col-md-6">

                </div>
            </div>
        </div>
    </section>*@