﻿@using System.Web.UI.WebControls
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gnack</title>
    @Styles.Render("~/Content/css")
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,300italic,300' rel='stylesheet' type='text/css'>
    <link href="//fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    @Scripts.Render("~/bundles/modernizr")
    <script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-66865777-1', 'auto');
    ga('send', 'pageview');

    </script>
    <script type="text/javascript">
        var appInsights = window.appInsights || function (config) {
            function r(config) { t[config] = function () { var i = arguments; t.queue.push(function () { t[config].apply(t, i) }) } } var t = { config: config }, u = document, e = window, o = "script", s = u.createElement(o), i, f; for (s.src = config.url || "//az416426.vo.msecnd.net/scripts/a/ai.0.js", u.getElementsByTagName(o)[0].parentNode.appendChild(s), t.cookie = u.cookie, t.queue = [], i = ["Event", "Exception", "Metric", "PageView", "Trace"]; i.length;) r("track" + i.pop()); return r("setAuthenticatedUserContext"), r("clearAuthenticatedUserContext"), config.disableExceptionTracking || (i = "onerror", r("_" + i), f = e[i], e[i] = function (config, r, u, e, o) { var s = f && f(config, r, u, e, o); return s !== !0 && t["_" + i](config, r, u, e, o), s }), t
        }({
            instrumentationKey: "149dd882-0ea1-4ea9-8f4e-152dfe1a8c63"
        });

        window.appInsights = appInsights;
        appInsights.trackPageView();
    </script>
</head>
    <body>
        <div class="navbar navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="@Url.Action("Index","Home")">
                        <svg width="90px" height="90px" viewBox="0 0 360 360" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;">
                            <path d="M112.739,198.344c8.768,-32.814 10.873,-54.951 11.584,-57.261c1.161,-3.772 9.853,-10.645 15.642,-10.717c16.176,-0.203 3.46,32.147 1.452,50.748c-0.564,5.225 5.233,13.295 12.295,12.334c13.345,-1.821 16.429,-13.266 14.409,-16.3c-1.245,-1.867 -8.849,5.848 -10.034,-2.303c-1.619,-11.119 19.005,-48.12 2.096,-56.656c-21.477,-10.841 -35.73,12.227 -35.693,11.163c0.156,-4.439 0.107,-5.325 -0.623,-5.673c-4.778,-2.275 -16.224,0.117 -17.287,2.425c0,0 0.348,2.158 0.263,4.896c-0.397,12.687 -2.201,20.977 -3.447,25.903c-4.75,18.752 -13.428,23.839 -22.946,22.987c-20.356,-1.822 -21.747,-29.084 -17.795,-42.653c11.188,-38.413 37.201,-43.265 44.487,-40.998c11.083,3.451 7.219,11.786 -0.667,13.302c-5.066,0.973 3.742,7.512 15.216,5.217c10.918,-2.183 11.12,-15.325 5.56,-21.533c-6.708,-7.487 -21.716,-11.239 -39.704,-5.936c-30.201,8.906 -51.326,37.811 -50.975,66.936c0.403,33.764 37.03,49.693 61.091,31.295c0,0 -0.638,3.582 -3.16,11.719c-68.95,-1.152 -97.559,36.242 -89.976,61.415c10.404,34.539 85.221,14.457 104.182,-45.918c34.269,8.177 38.712,32.381 54.432,36.516c17.287,4.55 20.773,-10.871 15.467,-20.319c-12.433,-22.141 -53.225,-29.217 -65.869,-30.589ZM22.422,235.301c22.138,-23.961 49.876,-26.638 69.298,-26.185c-2.857,8.392 -22.594,43.773 -48.775,51.454c-25.41,7.46 -30.168,-14.831 -20.523,-25.269Z" style="fill:#1FEBD2;fill-rule:nonzero;" />
                            <path d="M237.413,176.577c-1.574,0.528 -3.861,1.518 -5.476,1.318c-1.619,-0.202 -0.607,-6.876 1.008,-17.591c1.619,-10.717 6.268,-30.732 6.268,-30.732c0,0 0.403,-4.247 -3.436,-5.054c-3.84,-0.81 -11.486,-3.237 -12.905,-3.034c-1.415,0.202 -1.467,5.171 -1.566,5.844c-0.81,-2.935 -6.676,-12.759 -19.743,-11.735c-7.697,0.603 -22.452,7.72 -28.923,25.311c-5.747,15.631 -7.479,43.876 17.275,52.176c7.339,2.462 18.344,-3.172 23.353,-10.804c0.958,4.55 2.812,10.8 8.746,10.867c7.621,0.083 12.737,-4.36 15.082,-7.872c2.294,-3.435 2.773,-9.517 0.317,-8.694ZM212.357,174.159c-1.87,8.796 -31.209,10.199 -20.976,-28.33c3.789,-14.272 11.939,-18.668 16.537,-19.713c8.028,-1.82 11.027,7.103 11.315,11.046c-2.11,10.339 -5.941,32.61 -6.876,36.997Z" style="fill:#1FEBD2;fill-rule:nonzero;" />
                            <path d="M261.564,145.829c4.011,-14.319 11.544,-18.382 16.538,-19.713c11.019,-2.931 17.495,10.664 4.961,12.159c-2.787,0.332 5.423,6.838 11.976,5.252c8.058,-1.946 6.838,-9.619 3.944,-16.345c-2.022,-5.496 -12.211,-14.315 -27.241,-11.589c-8.354,1.514 -20.788,6.798 -28.249,24.258c-6.629,15.514 -8.734,48.064 18.009,53.173c6.157,1.175 33.953,2.944 32.289,-18.739c-0.299,-3.937 -4.573,-7.835 -6.017,-3.141c-4.647,15.121 -36.978,13.128 -26.21,-25.315Z" style="fill:#1FEBD2;fill-rule:nonzero;" />
                            <path d="M355.071,119.302c0.362,-2.563 -11.744,-3.796 -14.576,-3.796c-2.827,0 1.468,19.511 -17.487,22.794c2.144,-22.349 2.448,-22.353 4.295,-45.359c0,0 1.092,-4.753 -3.091,-5.979c-4.04,-1.185 -20.612,-5.17 -18.826,0.446c2.23,7.031 1.894,11.373 1.825,14.586c-0.605,27.681 -3.952,56.477 -7.19,76.469c-1.421,8.763 -2.186,11.76 -1.16,13.411c1.759,2.833 10.312,1.578 15.771,1.578c1.364,0 5.846,-36.526 7.358,-45.182c1.946,-2.793 14.28,-5.673 15.693,2.337c0.121,9.666 -8.239,62.197 -7.309,69.825c1.391,4.438 4.737,9.404 10.651,8.904c7.593,-0.642 12.262,-5.552 14.261,-9.271c1.957,-3.636 1.854,-9.737 -0.51,-8.686c-1.516,0.678 -3.702,1.88 -5.329,1.832c-1.631,-0.045 -1.839,-6.833 -0.669,-17.607c1.407,-12.947 6.34,-45.53 6.34,-45.53c0.284,-2.507 -1.008,-6.039 -2.96,-7.775c-6.321,-5.624 -10.022,-3.606 -11.692,-3.514c3.883,-0.814 13.337,-10.439 14.605,-19.483Z" style="fill:#1FEBD2;fill-rule:nonzero;" />
                        </svg>
                    </a>
                </div>
                <div class="navbar-collapse collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li><a href="#influencercontact">Sign Up</a></li>
                        @*<li><a href="#latest-work">Portfolio</a></li>
                        <li><a href="#content2">Skills</a></li>
                        <li><a href="#bottom">Contact</a></li>*@
                        <li>
                            <p class="nav navbar-nav nav-text pull-right">Brand or Agency? | <a href="@Url.Action("About","Home")">Learn More</a></p>
                        </li>
                        <li></li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="top">
            @RenderBody()
            <section class="footer" id="footer">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="row">
                                <h4 class="white-text">Influencers</h4>
                            </div>
                            <div class="row">
                                <ul class="footerList">
                                    <li><a href="@Url.Action("Index","Home")" class="text-muted">Influencer Sign Up</a></li>
                                    @*<li><a href="" class="text-muted">For Influencers</a></li>
                                    <li><a href="" class="text-muted">Influencer FAQ</a></li>
                                    <li><a href="" class="text-muted">Influencer Terms & Conditions</a></li>*@
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="row">
                                <h4 class="white-text">Partners & Press</h4>
                            </div>
                            <div class="row">
                                <ul class="footerList">
                                    <li><a href="@Url.Action("Contact","Home")" class="text-muted">Advertiser Sign Up</a></li>
                                    @*<li><a href="" class="text-muted">Advertiser FAQ</a></li>
                                    <li><a href="" class="text-muted">Advertiser Terms and Condititons</a></li>*@
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="row">
                                <h4 class="white-text">Learn More</h4>
                            </div>
                            <div class="row">
                                <ul class="footerList">
                                    <li><a href="@Url.Action("About","Home")" class="text-muted">Meet the Team</a></li>
                                    @*<li><a href="" class="text-muted">Blog</a></li>
                                    <li><a href="" class="text-muted">Careers</a></li>
                                    <li><a href="" class="text-muted">Privacy</a></li>*@
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="row">
                                <h4 class="white-text">Contact</h4>
                            </div>
                            <div class="row">
                                <ul class="footerList">
                                    <li><a class="text-muted" href="@Url.Action("Contact","Home")">Contact Us</a></li>
                                    <li><a class="text-muted" href="tel:+5127106706">P: 512.710.6706</a></li>
                                    <li><a class="text-muted" href="mailto:hello@gnackapp.com">E: hello@gnackapp.com</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="copy">
                <hr />
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                            <ul class="companylist">
                                <li class="pull-left"><a class="text-muted" href="http://www.gnackapp.com/">&copy; @DateTime.Now.Year - Gnack</a></li>
                                <li class="text-center">
                                    <a class="text-center" href="@Url.Action("Index","Home")">
                                        <svg width="90px" height="90px" viewBox="0 0 360 360" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;">
                                            <path d="M112.739,198.344c8.768,-32.814 10.873,-54.951 11.584,-57.261c1.161,-3.772 9.853,-10.645 15.642,-10.717c16.176,-0.203 3.46,32.147 1.452,50.748c-0.564,5.225 5.233,13.295 12.295,12.334c13.345,-1.821 16.429,-13.266 14.409,-16.3c-1.245,-1.867 -8.849,5.848 -10.034,-2.303c-1.619,-11.119 19.005,-48.12 2.096,-56.656c-21.477,-10.841 -35.73,12.227 -35.693,11.163c0.156,-4.439 0.107,-5.325 -0.623,-5.673c-4.778,-2.275 -16.224,0.117 -17.287,2.425c0,0 0.348,2.158 0.263,4.896c-0.397,12.687 -2.201,20.977 -3.447,25.903c-4.75,18.752 -13.428,23.839 -22.946,22.987c-20.356,-1.822 -21.747,-29.084 -17.795,-42.653c11.188,-38.413 37.201,-43.265 44.487,-40.998c11.083,3.451 7.219,11.786 -0.667,13.302c-5.066,0.973 3.742,7.512 15.216,5.217c10.918,-2.183 11.12,-15.325 5.56,-21.533c-6.708,-7.487 -21.716,-11.239 -39.704,-5.936c-30.201,8.906 -51.326,37.811 -50.975,66.936c0.403,33.764 37.03,49.693 61.091,31.295c0,0 -0.638,3.582 -3.16,11.719c-68.95,-1.152 -97.559,36.242 -89.976,61.415c10.404,34.539 85.221,14.457 104.182,-45.918c34.269,8.177 38.712,32.381 54.432,36.516c17.287,4.55 20.773,-10.871 15.467,-20.319c-12.433,-22.141 -53.225,-29.217 -65.869,-30.589ZM22.422,235.301c22.138,-23.961 49.876,-26.638 69.298,-26.185c-2.857,8.392 -22.594,43.773 -48.775,51.454c-25.41,7.46 -30.168,-14.831 -20.523,-25.269Z" style="fill:#1FEBD2;fill-rule:nonzero;" />
                                            <path d="M237.413,176.577c-1.574,0.528 -3.861,1.518 -5.476,1.318c-1.619,-0.202 -0.607,-6.876 1.008,-17.591c1.619,-10.717 6.268,-30.732 6.268,-30.732c0,0 0.403,-4.247 -3.436,-5.054c-3.84,-0.81 -11.486,-3.237 -12.905,-3.034c-1.415,0.202 -1.467,5.171 -1.566,5.844c-0.81,-2.935 -6.676,-12.759 -19.743,-11.735c-7.697,0.603 -22.452,7.72 -28.923,25.311c-5.747,15.631 -7.479,43.876 17.275,52.176c7.339,2.462 18.344,-3.172 23.353,-10.804c0.958,4.55 2.812,10.8 8.746,10.867c7.621,0.083 12.737,-4.36 15.082,-7.872c2.294,-3.435 2.773,-9.517 0.317,-8.694ZM212.357,174.159c-1.87,8.796 -31.209,10.199 -20.976,-28.33c3.789,-14.272 11.939,-18.668 16.537,-19.713c8.028,-1.82 11.027,7.103 11.315,11.046c-2.11,10.339 -5.941,32.61 -6.876,36.997Z" style="fill:#1FEBD2;fill-rule:nonzero;" />
                                            <path d="M261.564,145.829c4.011,-14.319 11.544,-18.382 16.538,-19.713c11.019,-2.931 17.495,10.664 4.961,12.159c-2.787,0.332 5.423,6.838 11.976,5.252c8.058,-1.946 6.838,-9.619 3.944,-16.345c-2.022,-5.496 -12.211,-14.315 -27.241,-11.589c-8.354,1.514 -20.788,6.798 -28.249,24.258c-6.629,15.514 -8.734,48.064 18.009,53.173c6.157,1.175 33.953,2.944 32.289,-18.739c-0.299,-3.937 -4.573,-7.835 -6.017,-3.141c-4.647,15.121 -36.978,13.128 -26.21,-25.315Z" style="fill:#1FEBD2;fill-rule:nonzero;" />
                                            <path d="M355.071,119.302c0.362,-2.563 -11.744,-3.796 -14.576,-3.796c-2.827,0 1.468,19.511 -17.487,22.794c2.144,-22.349 2.448,-22.353 4.295,-45.359c0,0 1.092,-4.753 -3.091,-5.979c-4.04,-1.185 -20.612,-5.17 -18.826,0.446c2.23,7.031 1.894,11.373 1.825,14.586c-0.605,27.681 -3.952,56.477 -7.19,76.469c-1.421,8.763 -2.186,11.76 -1.16,13.411c1.759,2.833 10.312,1.578 15.771,1.578c1.364,0 5.846,-36.526 7.358,-45.182c1.946,-2.793 14.28,-5.673 15.693,2.337c0.121,9.666 -8.239,62.197 -7.309,69.825c1.391,4.438 4.737,9.404 10.651,8.904c7.593,-0.642 12.262,-5.552 14.261,-9.271c1.957,-3.636 1.854,-9.737 -0.51,-8.686c-1.516,0.678 -3.702,1.88 -5.329,1.832c-1.631,-0.045 -1.839,-6.833 -0.669,-17.607c1.407,-12.947 6.34,-45.53 6.34,-45.53c0.284,-2.507 -1.008,-6.039 -2.96,-7.775c-6.321,-5.624 -10.022,-3.606 -11.692,-3.514c3.883,-0.814 13.337,-10.439 14.605,-19.483Z" style="fill:#1FEBD2;fill-rule:nonzero;" />
                                        </svg>
                                    </a><sup class="brand-text">TM</sup>
                                </li>
                                <li class="pull-right"><a class="text-muted" href="@Url.Action("TOS","Home")">Terms of Service</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
        <script>
            $("#button").click(function () {
                $('html, body').animate({
                    scrollTop: $("#top").offset().top
                }, 1000);
            });
        </script>
    </body>

</html>
